@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  background-color: #e6cbb3;
}
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

.titre-page {
  text-align: center;
}

header {
  padding: 5px;
  height: 250px;
  background-color: #cc9666;
}
header h1 {
  font-size: 3rem;
}

footer {
  display: flex;
  height: 70px;
  background-color: #bf7b40;
}

.player-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 50%;
  padding-top: 2rem;
}
@media (max-width: 768px) {
  .player-section {
    grid-template-columns: 1fr;
  }
}
.player-section .player {
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.player-section .player h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #bf7b40;
}
.player-section .player .scores {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #bf7b40;
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
}
.player-section .player .scores .global-score {
  margin: 0.5rem 0;
}
.player-section .player .scores .round-score {
  margin: 0.5rem 0;
}

.game-actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
@media (max-width: 768px) {
  .game-actions {
    flex-direction: column;
    gap: 1rem;
  }
}

.dice {
  grid-column: span 2;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .dice {
    font-size: 1rem;
  }
}

.btn {
  background: #bf7b40;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.btn:hover {
  background: #86562d;
}

.navigation {
  width: 40%;
}
.navigation .nav-links {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  list-style: none;
}
.navigation .nav-links .nav-link {
  line-height: 50px;
}
.navigation .nav-links .nav-link a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
}

.titre-page h1 {
  font-family: Atma, sans-serif;
}

.player-section h2 {
  font-family: Atma, sans-serif;
}

.nav-link a {
  font-family: DynaPuff, sans-serif;
}

.text-content-regles h2 {
  font-family: Atma, sans-serif;
}
.text-content-regles .text-paragraphe {
  font-family: DynaPuff, sans-serif;
}

picture.emoji-gif img {
  width: 1em;
  height: 1em;
}

.animate-fusée {
  transition: all 1s ease;
  display: inline-block;
  margin-left: 10px;
}
.animate-fusée:hover {
  animation: movefusee 2s ease;
}

@keyframes movefusee {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translate(-2px, 2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-1px, 1px);
  }
  72% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-550px);
  }
}
.animate-police-car-light {
  transition: all 1s ease;
  display: inline-block;
  margin-left: 10px;
}
.animate-police-car-light:hover {
  animation: movelight 2s ease;
}

@keyframes movelight {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translate(-2px, 2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-1px, 1px);
  }
  72% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(-550px);
  }
}
.titre-page h1 {
  font-family: Atma, sans-serif;
}

.player-section h2 {
  font-family: Atma, sans-serif;
}

.nav-link a {
  font-family: DynaPuff, sans-serif;
}

.text-content-regles h2 {
  font-family: Atma, sans-serif;
}
.text-content-regles .text-paragraphe {
  font-family: DynaPuff, sans-serif;
}

.display-text .text-content-regles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.display-text .text-content-regles h2 {
  padding-top: 40px;
  font-size: 2rem;
}
.display-text .text-content-regles .text-paragraphe {
  padding-top: 40px;
  max-width: 50%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}/*# sourceMappingURL=main.css.map */