//classe valeur général des animation
picture.emoji-gif {
    img {
        width: 1em;
        height: 1em;
    }
}

.animate-fusée {
    transition: all 1s ease;
    display: inline-block;
    margin-left: 10px;
    &:hover {
        animation: movefusee 2s ease;
    }
}

@keyframes movefusee {
    0% {
        transform: translateY(0);
    }
    10%{
        transform: translate(-2px, 2px);
    }
    20% {
        transform: translate(2px, -2px);
    }
    30% {
        transform: translate(-1px, 1px);
    }
    72% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-550px);
    }
}

.animate-police-car-light {
    transition: all 1s ease;
    display: inline-block;
    margin-left: 10px;
    &:hover {
        animation: movelight 2s ease;
    }
}

@keyframes movelight {
    0% {
        transform: translateX(0); // Position de départ
    }
    10% {
        transform: translateX(-10px); // Petit déplacement à gauche
    }
    20% {
        transform: translateX(10px); // Petit déplacement à droite
    }
    30% {
        transform: translateX(-5px); // Retourne légèrement à gauche
    }
    40% {
        transform: translateX(5px); // Retourne légèrement à droite
    }
    50% {
        transform: translateX(0); // Retour au centre
    }
    100% {
        transform: translateX(2000px); // Finit à droite
    }
}

.animate-image-regles{
    transition: all 1s ease;
    display: inline-block;
    margin-left: 50px;
    &:hover {
        animation: movedesregles 3s ease forwards;
    }

    .text-animate-des {
        font-size: $title-h2;
        padding-bottom: 15px;
    }
}



@keyframes movedesregles {
    0% {
        transform: translateX(0); // Position de départ
    }
    10% {
        transform: translateX(-10px); // Petit déplacement à gauche
    }
    20% {
        transform: translateX(10px); // Petit déplacement à droite
    }
    30% {
        transform: translateX(-5px); // Retourne légèrement à gauche
    }
    40% {
        transform: translateX(5px); // Retourne légèrement à droite
    }
    50% {
        transform: translateX(0); // Retour au centre
    }
    100% {
        transform: translateX(2000px); // Finit à droite
    }
}

@keyframes roll-animation { /*animation de la rotation du dés*/
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
