* {
    padding: 0;
    margin: 0;
}

@import "variables";

html body main {
    display: flex;
    flex-direction: column; // Deux colonnes pour les grands écrans
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    background-color: $body-color;

    @media (max-width: 768px) {
        grid-template-columns: 1fr; // Une seule colonne sur mobile
    }
}    

.titre-page {
    text-align: center;
}

header {
    padding: 5px;
    height: 250px ;
    background-color: $header-color;
    h1 {
        font-size: 3rem;
    }
}

footer {
    display: flex;
    height: 70px ;
    background-color: $footer-color;
}