.titre-page {

    h1 {
        font-family: Atma, sans-serif ;
    }
}

.player-section {

    h2 {
        font-family: Atma, sans-serif;
    }
}


.nav-link {

    a {
        font-family: DynaPuff, sans-serif;
    }
}