.titre-page {

    h1 {
        font-family: Atma, sans-serif ;
    }
}

.player-section {

    h2 {
        font-family: Atma, sans-serif;
    }
}


.nav-link {

    a {
        font-family: DynaPuff, sans-serif;
    }
}

.text-content-regles {

    h2 {
        font-family: Atma, sans-serif;
    }

    .text-paragraphe {
        font-family: DynaPuff, sans-serif;
    }
}

.dice-result {
    font-family: Atma, sans-serif;
}

.btn {
    font-family: DynaPuff, sans-serif;
}